.search-input-container {
  display: flex;
  gap: 0.5rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  background-color: var(--lighter-bg-color);
  border: solid 1px var(--lighter-bg-color);
  border-radius: 0.375rem;
}

.search-input-container > input {
  border: none;
  outline: none;
  background-color: var(--lighter-bg-color);
  color: #ffffff;
}
