:root {
  --main-bg-color: #000000;
  --lighter-bg-color: #262626;
}

html,
body {
  margin: 0;
  background-color: var(--main-bg-color);
  color: #ffffff;
}

.content-wrapper {
  margin: 9.375rem 1.25rem;
}

.spinner {
  border: 4px solid #4b4848;
  border-radius: 100%;
  border-top: 4px solid transparent;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
}

@media (min-width: 640px) {
  .content-wrapper {
    margin: 6.25rem 1.25rem;
  }
}

@media (min-width: 480px) {
  .content-wrapper {
    margin: 6.25rem 3.125rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton {
  background-color: var(--lighter-bg-color);
}

.skeleton-list-item {
  background-color: var(--lighter-bg-color);
  height: 20px;
  width: 90%;
  border-radius: 8px;
}

.skeleton-list-item-sm {
  background-color: var(--lighter-bg-color);
  height: 20px;
  width: 50%;
  border-radius: 8px;
}

input,
select {
  background-color: transparent;
  height: 100%;
  border: none;
  outline: none;
  color: #ffffff;
}

.input-container {
  display: flex;
  gap: 0.5rem;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  align-items: center;
  background-color: var(--lighter-bg-color);
  border: solid 1px var(--lighter-bg-color);
  border-radius: 0.375rem;
}
